@{
    ViewBag.Title = "_LoginPartial";
}

<h2 class="structural">login and register</h2>
<ul>
    <li><a href="#" title="Registreren">Registreren</a></li>
    <li><a href="#" title="Aanmelden">Aanmelden</a></li>
</ul>

<section id="newsletter">
    <div id="register">
        <a href="#" title="register for newsletter">Inschrijven voor nieuwsbrief</a>
    </div>
</section>
