@{
    ViewBag.Title = "index";
}
<section class="clearfix">
    <h2 class="structural">Fotoslider</h2>
</section>

<section class="clearfix">
    <h2 class="structural">Messages</h2>
    <ul>
        <li>
            <h3>Informatief bericht 1</h3>
            <img src="images/test.jpg" alt="test1" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta pretium sem non posuere. Nulla iaculis sapien ut mi imperdiet, sit amet tincidunt dui fermentum. Integer et neque nec orci pretium tincidunt. Etiam sapien dolor, sodales tristique aliquet eget, pellentesque at velit. Cras porttitor venenatis consectetur.
            </p>
            <a href="#" title="meer lezen..." class="readmore">meer lezen...</a>
        </li>
        <li>
            <h3>Informatief bericht 2</h3>
            <img src="images/test.jpg" alt="test2" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta pretium sem non posuere. Nulla iaculis sapien ut mi imperdiet, sit amet tincidunt dui fermentum. Integer et neque nec orci pretium tincidunt. Etiam sapien dolor, sodales tristique aliquet eget, pellentesque at velit. Cras porttitor venenatis consectetur.
            </p>
            <a href="#" title="meer lezen..." class="readmore">meer lezen...</a>
        </li>
    </ul>
</section>

<section id="banner">
    <div class="container">
       <img src="#" alt="banner" />
    </div>
</section>
